.app {
  gap: 24px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;

  .viewport {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: auto;

    .list {
      overflow: hidden;
      position: relative;

      .inner {
        top: 0;
        left: 0;
        position: absolute;

        .item {
          border: none;
          display: flex;
          overflow: hidden;
          align-items: center;
          justify-content: center;

          .text {
            color: rgb(0, 0, 0);
          }
        }
      }
    }

    &.vertical {
      .list {
        width: 100%;

        .inner {
          width: 100%;

          .item {
            width: 100%;
          }
        }
      }
    }

    &.horizontal {
      .list {
        height: 100%;

        .inner {
          height: 100%;

          .item {
            height: 100%;
            display: inline-flex;
            writing-mode: vertical-rl;
          }
        }
      }
    }
  }

  .action {
    flex: 0 0;
    padding-bottom: 24px;
  }
}
