.app {
  gap: 24px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;

  .viewport {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: auto;

    .frame {
      overflow: hidden;
      position: relative;

      .item {
        top: 0;
        left: 0;
        border: none;
        display: flex;
        overflow: hidden;
        position: absolute;
        align-items: center;
        justify-content: center;

        .text {
          color: rgb(0, 0, 0);
        }
      }
    }

    &.vertical {
      .frame {
        width: 100%;

        .item {
          width: 100%;
        }
      }
    }

    &.horizontal {
      .frame {
        height: 100%;

        .item {
          height: 100%;
          overflow: hidden;
          display: inline-flex;
          writing-mode: vertical-rl;
        }
      }
    }
  }

  .action {
    flex: 0 0;
    padding-bottom: 24px;
  }
}
